<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/assets/css/dpl-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/bui-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/page-min.css" rel="stylesheet" />
	<link href="~/Content/assets/css/prettify.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Content/assets/js/jquery-1.8.1.min.js"></script>
	<script src="~/Content/assets/js/bui-min.js"></script>
	<script src="~/Content/assets/js/config-min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		//按钮权限验证
		function ValidatePermission(permissionList) {
			if (permissionList != '' && permissionList != undefined) {
				var permission = '';
				$.each(permissionList, function (p, t) {
					permission += t.PermissionCode + ',';
				});
				permission = permission.toUpperCase();
				$('.mydiv a[action]').each(function () {
					var action = $(this).attr('action');
					if (permission.indexOf(action.toUpperCase() + ',') < 0) {
						$(this).remove();
					}
				});
			}
		}
		$(function () {
			ValidatePermission(@Html.Raw(ViewData["PermissionList"]));
		});
	</script>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
